@import url(//fonts.googleapis.com/css?family=Lato:300:400);
.download_body {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mid_card {
  height: 200px;
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

p {
  cursor: default;
}

body {
  background-color: #faebd7;
}

.siteBody {
  padding-left: 10rem;
  padding-right: 10rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .appTitle {
  font-family: 'Glass Antiqua', cursive;
  font-size: 50px;
  font-style: italic;
}

.header .tagline {
  font-size: 1.6rem;
  font-family: 'Comforter', cursive;
  margin-left: 40px;
  margin-top: 60px;
  font-weight: bold;
}

.features .features_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .features_box .features_image {
  border: 2px solid black;
  -webkit-box-shadow: 55px 55px 45px #999;
          box-shadow: 55px 55px 45px #999;
  -webkit-transform: rotate3d(-3, 3, -1, -50deg);
          transform: rotate3d(-3, 3, -1, -50deg);
  border-radius: 15px;
  margin: 2rem;
  width: 400px;
  height: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.features .features_box img:not(:last-child) {
  -webkit-box-shadow: -55px 55px 45px #999;
          box-shadow: -55px 55px 45px #999;
  -webkit-transform: rotate3d(3, 3, 1, -50deg);
          transform: rotate3d(3, 3, 1, -50deg);
}

.features .features_box img:hover {
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
          transform: rotate3d(0, 0, 0, 0deg);
}

.navbar {
  background-color: #B1D4E0;
  border-radius: 25px;
  font-size: 2rem;
  padding: 30px;
}

.navbar .active_page {
  color: #FF8300;
}

.navbar a {
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.navbar a:not(:last-child) {
  margin-right: 32px;
}

.navbar a::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#FF8300), to(#B7AC44));
  background: linear-gradient(to right, #FF8300, #B7AC44);
  opacity: 0;
  left: 0;
  right: 0;
  bottom: -10px;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.navbar a:hover {
  color: #FF8300;
}

.navbar a:hover::before {
  opacity: 1;
}

.description {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-style: italic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.showcase {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 80%;
}

.showcase .td_image {
  margin-left: 100px;
  -webkit-box-shadow: -55px 55px 45px #999;
          box-shadow: -55px 55px 45px #999;
  border: 2px solid black;
  border-radius: 15px;
  height: 500px;
  width: 500px;
  -webkit-transform: rotate3d(3, 3, 1, -50deg);
          transform: rotate3d(3, 3, 1, -50deg);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.showcase img:hover {
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
          transform: rotate3d(0, 0, 0, 0deg);
}

.showcase .showcase_para {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 30px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #B1D4E0;
}

.footer div:not(:first-child) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer h3 {
  color: #494949;
}

.footer p {
  color: #494949;
}

.footer .first_footer {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 3%;
  max-width: 30%;
}

.footer .second_footer {
  margin-left: 60%;
}

.footer .second_footer a {
  text-decoration: none;
  color: #0C2D48;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.footer .second_footer a:hover {
  color: red;
}

.end_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #B1D4E0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #494949;
}

.download_body {
  background-color: #faebd7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.download_body .mid_card {
  height: 300px;
  width: 50%;
  background-color: #ff7f51;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
}

.download_body .mid_card h2 {
  margin-left: -75%;
}

.download_body .mid_card .filename {
  margin-left: -60%;
  color: #3f3b3b;
}

.download_body .mid_card .sec_para_download {
  margin-left: -75%;
}

.download_body .mid_card .line {
  width: 85%;
}

.download_body .mid_card .dwnd_button, .download_body .mid_card .button {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  border: 0;
  color: black;
  background: #3fcce0;
  background: -webkit-gradient(linear, left top, right top, from(#3fcce0), color-stop(45%, #14f0c9), to(#147cf0));
  background: linear-gradient(90deg, #3fcce0 0%, #14f0c9 45%, #147cf0 100%);
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.download_body .mid_card .dwnd_button:hover, .download_body .mid_card .button:hover {
  opacity: 0.75;
}

.download_body .mid_card .dwnd_button a, .download_body .mid_card .button a {
  text-decoration: none;
  color: black;
}

.aboutus {
  margin-top: 3%;
  margin-left: 7%;
}

.aboutus .about_compartment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutus .about_compartment p {
  max-width: 60%;
}

.aboutus .about_compartment img {
  height: 400px;
  margin-top: -40px;
  margin-left: 50px;
  border: 2px solid black;
  border-radius: 15px;
}

.aboutus h2::after {
  content: '';
  background: #fab703;
  display: block;
  height: 3px;
  width: 150px;
  margin: 20px -1px;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1D3557;
}

#spare-time {
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #A8DADC;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  -webkit-animation: slide 15s infinite;
          animation: slide 15s infinite;
}

@-webkit-keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 200px;
  max-height: 250px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: #B1D4E0;
}

/* Animation */
.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
/*# sourceMappingURL=styles.css.map */