
$actionbar: #00ffffff;
$faded_yellow: #B7AC44;
$faded_red: #DF362D;
$orange: #FF8300;
$red_orange: #FF4500;
$midnight_blue: #145DA0;
$dark_blue: #0C2D48;
$blue: #2E8BC0;
$baby_blue: #B1D4E0;
$transparent: #4AFF8300;
$bg_color: #faebd7;