// .uDH1{
//     display: flex;
//     justify-self: center;
//     color: white;
//     align-self: center;
// }

.UD{
    color: white;
    text-align: center;
    width: 100%;
    margin:0 auto;
}

body{
    background-color: black;
}