// .uDH1{
//     display: flex;
//     justify-self: center;
//     color: white;
//     align-self: center;
// }

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.UD{
    color: white;
    text-align: center;
    width: 100%;
    margin:0 auto;
}

.UDBody{
    background-color: black;
}



.proj_links{
    color:white;
}

